.footer {
  background-color: var(--color-dark);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;

  &__contacts {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    align-items: start;

    @media (max-width: $bp3) {
      align-items: center;
    }
  }

  &__logo {
    width: 220px;
    flex: 0 1 auto;
    @media (max-width: $bp3) {
      display: flex;
      justify-content: center;
    }
  }

  &__container {
    padding: 60px;
    display: flex;
    flex-flow: column nowrap;

    @media (max-width: $bp3) {
      align-items: center;
    }
  }

  &__header {
    background-color: var(--color-dark);
    justify-content: space-between;
    flex-flow: row wrap;
    @media (max-width: $bp3) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  &__navigation {
    display: flex;
    position: static;
    background-color: transparent;
    @media (max-width: $bp2) {
      padding: 0;
    }
  }

  &__list {
    display: flex;
    position: static;
    flex-flow: row nowrap;
    @media (max-width: $bp3) {
      flex-flow: column nowrap;
      gap: 15px;
      align-items: center;
    }
  }

  &__element a {
    color: var(--color-white);
    font-size: 1rem;

    &::after {
      background-color: var(--color-white);
    }
  }

  &__soc1al {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    @media (max-width: $bp3) {
      order: 1;
    }
  }

  &__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-white);
    padding-bottom: 50px;
    margin-bottom: 50px;

    @media (max-width: $bp3) {
      flex-flow: column nowrap;
      align-items: center;
      gap: 37px;
    }
  }

  &__email {
    padding-inline: 40px;
    padding-block: 58px;
    background-color: var(--color-anotherDark);
    border-radius: 14px;
    @media (max-width: $bp2) {
      padding: 30px;
    }
  }

  &__form {
    display: flex;
    gap: 20px;
    @media (max-width: $bp2) {
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__rights {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;

    @media (max-width: $bp3) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-white);
    text-decoration: underline;
    &:hover {
      color: var(--color-green);
    }
  }

  &__image {
    filter: invert(1);
  }

  &__icons {
    transition: 0.5s;
    &:hover {
      filter: invert(1);
    }
  }

  &__facebook {
    border-radius: 50%;
    transition: 0.5s;
    &:hover {
      background-color: var(--color-white);
    }
  }
}
